.carrossel {
    width: 300px;
    float:left;
    position:relative;
    
    h2 {
        font-size: 15px;
        font-weight:bold;
        margin: 0 0 0 30px;
    }

    .product-carousel {
        overflow: hidden;
        position: relative;
        top: 5px;
        left: 10px;
    }
}