.carrossel {
    width: 283px;
    position: relative;
    background:#ff0000;
    height:100px;
    float:left;

    h2 {
        font-size: 15px;
        font-weight:bold;
        margin: 0;
    }
}