#tab1-a > h2:nth-child(1), 
    #tab1-a > h2:nth-child(3) {
        font-size: 15px;
        font-weight: bold;
        margin: 0 0 5px 0;
}

#tab1-a > h2:nth-child(1) {
    color: #3a87ad;
}

#tab1-a > h2:nth-child(3) {
    color: #468847;
}